#footer= '版权所有，未经许可不得转载. Copyright © 2015-' + date(Date.now(), 'YYYY') + ''
  a(href=url_for('.'), rel='nofollow')= config.title + ''
  
  div
  if theme.busuanzi==true
    script(src='https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js', async)
    i(class="fa fa-user")
    span#busuanzi_value_site_uv
    span=' | '
    i(class="fa fa-eye")
    span#busuanzi_value_site_pv
  div
    img(src='https://travis-ci.com/Waynehfut/blog.svg?branch=master')